header {
   height: 100vh;
   padding-top: 5rem;
   overflow: hidden;
}

.header__container {
   text-align: center;
   height: 100%;
   position: relative;
}


.title_skill {
   height: 2rem;
   font-weight: bolder;
   color: rgb(235, 123, 123);
}

.title_name {
   color: #d0d4f9;
   font-weight: bolder;
   animation: fadeInRight 2s ease;
   -webkit-animation: fadeInRight 2s ease;
}

@keyframes fadeInRight {
   0% {
      opacity: 0;
      transform: translateX(-100px);
      -webkit-transform: translateX(-100px);
      -moz-transform: translateX(-100px);
      -ms-transform: translateX(-100px);
      -o-transform: translateX(-100px);
   }

   100% {
      opacity: 1;
      transform: translateX(0);
      /* Bring the text to its original position */
   }
}


/* --------------Cta-------------- */

.cta {
   margin-top: 2.5rem;
   display: flex;
   gap: 1.2rem;
   justify-content: center;
}

/* ----------Socials--------------- */
.header__socials {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: absolute;
   gap: 1rem;
   left: 0;
   bottom: 3rem;
   animation: fadeInDown2 2s ease;
   -webkit-animation: fadeInDown2 2s ease;
}

.header__socials::after {
   content: "";
   width: 1px;
   height: 2rem;
   background: var(--color-primary);
}

/* -----------Myself----------- */
.myself {
   background: linear-gradient(var(--color-primary), transparent);
   width: 22rem;
   height: 30rem;
   position: absolute;
   left: calc(50% - 11rem);
   margin-top: 4rem;
   border-radius: 12rem 12rem 0rem 0rem;
   overflow: hidden;
   padding: 5rem 1.5rem 1.5rem 1.5rem;
   animation: fadeInDown 1s ease;
   /* Apply the fadeInDown animation */
}

.myself img {
   height: 35rem;
   padding-bottom: 15rem;
   padding-left: 2rem;
   width: 15rem;
   animation: fadeInDown 1s ease;
   /* Apply the fadeInDown animation */
}

@keyframes fadeInDown {
   0% {
      opacity: 0;
      transform: translateY(-20px);
   }

   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

@keyframes fadeInDown2 {
   0% {
      opacity: 0;
      transform: translateY(-80px);
      -webkit-transform: translateY(-80px);
      -moz-transform: translateY(-80px);
      -ms-transform: translateY(-80px);
      -o-transform: translateY(-80px);
   }

   100% {
      opacity: 1;
      transform: translateY(0);
   }
}




/* ----------Scroll Down-------------- */
.scroll__down {
   position: absolute;
   right: -1.5rem;
   bottom: 5rem;
   transform: rotate(90deg);
   font-weight: 300;
   font-size: 0.9rem;
}

/* -------------Medium Device Responsive--------- */
@media screen and (max-width:1024px) {
   header {
      height: 68vh;
   }
}


/* -------------Small Device Responsive--------- */
@media screen and (max-width:600px) {
   header {
      height: 100vh;
   }

   .header__socials,
   .scroll__down {
      display: none;
   }
}